{{::initArray this "list" 4}}
{{::arrayToIndexItem this.list}}
<div class="module-box table-box {{layout}}" style="{{::getHeight height}}">
    <div class="box-cell cell-w-50 p-r-xs">
        {{::callBlockHandle "image" list.item0}}
    </div>
    <div class="box-cell cell-w-50">
        <div class="item cell-h-50 p-b-xs">
            {{::callBlockHandle "image" list.item1}}
        </div>
        <div class="item cell-h-50">
            <div class="table-box">
                <div class="box-cell p-r-xs">
                    {{::callBlockHandle "image" list.item2}}
                </div>
                <div class="box-cell">
                    {{::callBlockHandle "image" list.item3}}
                </div>
            </div>
        </div>
    </div>
</div>
{{::callBlockHandle "footer" this}}